{"openapi":"3.0.0","info":{"title":"PGBee API","version":"1.0.0","description":"Comprehensive API documentation for PGBee Hostel Booking Application. This API provides endpoints for managing hostels, users, owners, students, reviews, amenities, enquiries, rent pricing, and file uploads with image processing.","contact":{"name":"PGBee Support","email":"support@pgbee.com"},"license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"}},"servers":[{"url":"https://server.pgbee.co.in","description":"Production server"},{"url":"http://localhost:3000","description":"Development server"}],"tags":[{"name":"Authentication","description":"User authentication and authorization endpoints (signup, login, OAuth, token refresh)"},{"name":"Users","description":"User profile management and profile completion status"},{"name":"Owners","description":"Hostel owner profile management (CRUD operations)"},{"name":"Students","description":"Student profile management (CRUD operations)"},{"name":"Hostels","description":"Hostel listing management with pagination and search capabilities"},{"name":"Amenities","description":"Hostel amenities management (WiFi, AC, parking, etc.)"},{"name":"Rents","description":"Rent pricing management by sharing type (single, double, triple, etc.)"},{"name":"Roles","description":"Role catalogue backing owner, student, and admin access"},{"name":"Reviews","description":"Hostel review and rating management with pagination"},{"name":"Enquiries","description":"Student enquiry management for hostel bookings"},{"name":"Files","description":"File upload and image processing (generates thumbnail, medium, large, original variants)"},{"name":"Notifications","description":"User notification management (real-time notifications, read/unread status)"},{"name":"Tickets","description":"Support ticket management — users raise issues, support updates status with a full timeline history"},{"name":"Guests","description":"Dhwani guest occupant management (CRUD operations for hostel occupants)"},{"name":"Stayhubs","description":"Event stay hub venue management — male/female capacity, admitted counts, and the guests admitted to each venue"},{"name":"Stayhub Bookings","description":"Reservations against a stay hub venue, including guest admission"},{"name":"Rooms","description":"Room inventory within a hostel and its capacity"},{"name":"Beds","description":"Individual bed allocation, locking, and release within a hostel room"},{"name":"Bookings","description":"Student-facing hostel booking requests and lifecycle"},{"name":"Admin Bookings","description":"Superadmin console for reviewing and deciding bookings"},{"name":"Applications","description":"Owner applications to list a hostel, and the superadmin review workflow"},{"name":"Owner App","description":"Owner mobile-facing operations: property, finance, and tenant fees"},{"name":"Payments","description":"Rent and fee collection, refunds, Razorpay checkout, and payment webhooks"},{"name":"Referrals","description":"Referral codes, invites, and rewards"},{"name":"Ads","description":"Promotional ads and their live/deleted lifecycle"},{"name":"OTP","description":"One-time code delivery and verification for login, password reset, and phone verification"},{"name":"Auth","description":"Password and guest sign-in, including token refresh and logout"},{"name":"SMS","description":"Outbound SMS records and the Twilio delivery-status callback"},{"name":"System Configuration","description":"Platform-wide settings such as configurable lock and queue windows"},{"name":"Documentation","description":"This spec and the interactive documentation page"},{"name":"Health","description":"Liveness and database connectivity reporting"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT Authorization header using the Bearer scheme. Example: 'Authorization: Bearer {accessToken}'. Access tokens expire after 15 minutes. Use the refresh token endpoint to get a new access token."}},"schemas":{"SignupRequest":{"type":"object","required":["name","email","phoneNo","password","role"],"properties":{"name":{"type":"string","example":"John Doe"},"email":{"type":"string","format":"email","example":"john@example.com"},"phoneNo":{"type":"string","example":"9876543210"},"password":{"type":"string","minLength":6,"example":"password123"},"role":{"type":"string","enum":["student","owner"],"example":"student"}}},"LoginRequest":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","format":"email"},"password":{"type":"string"}}},"AuthResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/User"},"accessToken":{"type":"string"},"refreshToken":{"type":"string"}}}}},"User":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string","format":"email"},"phoneNo":{"type":"string"},"roleId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"Hostel":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"hostelName":{"type":"string"},"phone":{"type":"string"},"address":{"type":"string"},"curfew":{"type":"boolean"},"distance":{"type":"number"},"location":{"type":"string"},"gender":{"type":"string","enum":["male","female","mixed"]},"bedrooms":{"type":"integer"},"bathrooms":{"type":"integer"},"available":{"type":"boolean"},"userId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"HostelCreate":{"type":"object","required":["hostelName","phone","address","gender"],"properties":{"hostelName":{"type":"string"},"phone":{"type":"string"},"address":{"type":"string"},"curfew":{"type":"boolean","default":false},"distance":{"type":"number"},"location":{"type":"string"},"gender":{"type":"string","enum":["male","female","mixed"]},"bedrooms":{"type":"integer","default":1},"bathrooms":{"type":"integer","default":1},"available":{"type":"boolean","default":true}}},"Review":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"date":{"type":"string","format":"date"},"rating":{"type":"integer","minimum":1,"maximum":5},"text":{"type":"string"},"image":{"type":"string"},"userId":{"type":"string","format":"uuid"},"hostelId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ReviewCreate":{"type":"object","required":["hostelId","rating","date"],"properties":{"hostelId":{"type":"string","format":"uuid"},"rating":{"type":"integer","minimum":1,"maximum":5},"text":{"type":"string"},"image":{"type":"string"},"date":{"type":"string","format":"date"},"name":{"type":"string"}}},"Amenities":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"hostelId":{"type":"string","format":"uuid"},"wifi":{"type":"boolean"},"ac":{"type":"boolean"},"kitchen":{"type":"boolean"},"parking":{"type":"boolean"},"laundry":{"type":"boolean"},"tv":{"type":"boolean"},"firstAid":{"type":"boolean"},"mess":{"type":"boolean"},"workspace":{"type":"boolean"},"security":{"type":"boolean"},"currentBill":{"type":"boolean"},"waterBill":{"type":"boolean"},"food":{"type":"boolean"},"furniture":{"type":"boolean"},"bed":{"type":"boolean"},"water":{"type":"boolean"},"studentsCount":{"type":"integer"}}},"AmenitiesCreate":{"type":"object","required":["hostelId","wifi","ac","kitchen","parking","laundry","tv","firstAid","workspace","security","currentBill","waterBill","food","furniture","bed","water"],"properties":{"hostelId":{"type":"string","format":"uuid"},"wifi":{"type":"boolean"},"ac":{"type":"boolean"},"kitchen":{"type":"boolean"},"parking":{"type":"boolean"},"laundry":{"type":"boolean"},"tv":{"type":"boolean"},"firstAid":{"type":"boolean"},"mess":{"type":"boolean","default":false},"workspace":{"type":"boolean"},"security":{"type":"boolean"},"currentBill":{"type":"boolean"},"waterBill":{"type":"boolean"},"food":{"type":"boolean"},"furniture":{"type":"boolean"},"bed":{"type":"boolean"},"water":{"type":"boolean"},"studentsCount":{"type":"integer","default":0}}},"Owner":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"phone":{"type":"string"},"userId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"OwnerCreate":{"type":"object","required":["name","phone"],"properties":{"name":{"type":"string"},"phone":{"type":"string"}}},"Student":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"userName":{"type":"string"},"name":{"type":"string"},"dob":{"type":"string","format":"date","nullable":true},"address":{"type":"string","nullable":true},"phoneNo":{"type":"string"},"gender":{"type":"string","enum":["Male","Female"],"nullable":true},"userId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"StudentCreate":{"type":"object","required":["userName","name","phoneNo"],"properties":{"userName":{"type":"string"},"name":{"type":"string"},"dob":{"type":"string","format":"date"},"address":{"type":"string"},"phoneNo":{"type":"string"},"gender":{"type":"string","enum":["Male","Female"]}}},"Enquiry":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"hostelId":{"type":"string","format":"uuid"},"studentId":{"type":"string","format":"uuid"},"enquiry":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"EnquiryCreate":{"type":"object","required":["hostelId","studentId"],"properties":{"hostelId":{"type":"string","format":"uuid"},"studentId":{"type":"string","format":"uuid"},"enquiry":{"type":"boolean","default":true}}},"Rent":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"hostelId":{"type":"string","format":"uuid"},"sharingType":{"type":"string"},"rent":{"type":"integer"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"RentCreate":{"type":"object","required":["hostelId","sharingType","rent"],"properties":{"hostelId":{"type":"string","format":"uuid"},"sharingType":{"type":"string","example":"single"},"rent":{"type":"integer","example":5000}}},"File":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"Location":{"type":"string"},"Key":{"type":"string"},"ETag":{"type":"string"},"hostelId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"SuccessResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"Operation completed successfully"},"data":{"type":"object","description":"Response data (varies by endpoint)"}}},"ErrorResponse":{"type":"object","properties":{"success":{"type":"boolean","example":false},"message":{"type":"string","example":"An error occurred"},"error":{"type":"object","properties":{"code":{"type":"string","example":"VALIDATION_ERROR"},"details":{"type":"object","description":"Additional error details"}}}}},"ValidationError":{"type":"object","properties":{"success":{"type":"boolean","example":false},"message":{"type":"string","example":"Validation failed"},"error":{"type":"object","properties":{"code":{"type":"string","example":"VALIDATION_ERROR"},"details":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","example":"email"},"message":{"type":"string","example":"Invalid email format"}}}}}}}},"UnauthorizedError":{"type":"object","properties":{"success":{"type":"boolean","example":false},"message":{"type":"string","example":"Unauthorized - Invalid or missing authentication token"}}},"ForbiddenError":{"type":"object","properties":{"success":{"type":"boolean","example":false},"message":{"type":"string","example":"Forbidden - Insufficient permissions"}}},"NotFoundError":{"type":"object","properties":{"success":{"type":"boolean","example":false},"message":{"type":"string","example":"Resource not found"}}},"PaginationMeta":{"type":"object","properties":{"page":{"type":"integer","example":1,"description":"Current page number"},"limit":{"type":"integer","example":10,"description":"Items per page"},"total":{"type":"integer","example":100,"description":"Total number of items"},"totalPages":{"type":"integer","example":10,"description":"Total number of pages"}}},"PaginatedResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"Data retrieved successfully"},"data":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}}}},"Guest":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","example":"Anita Sharma"},"gender":{"type":"string","enum":["Male","Female","Other"]},"age":{"type":"integer","example":24},"email":{"type":"string","format":"email","nullable":true},"phoneNo":{"type":"string","nullable":true,"description":"Phone number the guest authenticates with. Never returned on create/update until the guest registers a phone."},"phoneNoVerified":{"type":"boolean","description":"True once a `guest_login` OTP has been consumed for `phoneNo`."},"stayhubId":{"type":"string","format":"uuid","nullable":true,"description":"Venue the guest is physically allocated to. Null until staff assign one."},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"GuestCreate":{"type":"object","additionalProperties":false,"description":"Any other key is rejected with 400.","required":["name","gender","age"],"properties":{"name":{"type":"string","minLength":2,"maxLength":100,"pattern":"^[a-zA-Z\\s]+$","example":"Anita Sharma"},"gender":{"type":"string","enum":["Male","Female","Other"]},"age":{"type":"integer","minimum":0,"example":24},"email":{"type":"string","format":"email"},"password":{"type":"string","minLength":6,"maxLength":100},"stayhubId":{"type":"string","format":"uuid"}}},"GuestUpdate":{"type":"object","additionalProperties":false,"description":"Every field is optional; only the supplied keys are written.","properties":{"name":{"type":"string","minLength":2,"maxLength":100,"pattern":"^[a-zA-Z\\s]+$"},"gender":{"type":"string","enum":["Male","Female","Other"]},"age":{"type":"integer","minimum":0},"email":{"type":"string","format":"email"},"password":{"type":"string","minLength":6,"maxLength":100},"stayhubId":{"type":"string","format":"uuid"}}},"Stayhub":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","example":"Dhwani Event Stay Hub"},"location":{"type":"string","example":"Bengaluru, Karnataka"},"contactNumber":{"type":"string","example":"9876543210"},"maleCapacity":{"type":"integer","minimum":0},"femaleCapacity":{"type":"integer","minimum":0},"otherCapacity":{"type":"integer","minimum":0,"default":0},"attachedBathrooms":{"type":"integer","nullable":true},"maleAdmitted":{"type":"integer","nullable":true},"femaleAdmitted":{"type":"integer","nullable":true},"otherAdmitted":{"type":"integer","nullable":true},"malePending":{"type":"integer","description":"Seats held for in-flight checkouts. Added to `maleAdmitted` this must not exceed `maleCapacity`."},"femalePending":{"type":"integer"},"otherPending":{"type":"integer"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"StayhubCreate":{"type":"object","additionalProperties":false,"description":"The derived occupancy counters are not writable here; any other key is rejected with 400.","required":["name","location","contactNumber","maleCapacity","femaleCapacity"],"properties":{"name":{"type":"string","minLength":2,"maxLength":100},"location":{"type":"string","minLength":2,"maxLength":255},"contactNumber":{"type":"string","pattern":"^[0-9]{10,15}$"},"maleCapacity":{"type":"integer","minimum":0},"femaleCapacity":{"type":"integer","minimum":0},"attachedBathrooms":{"type":"integer","minimum":0},"otherCapacity":{"type":"integer","minimum":0}}},"StayhubUpdate":{"type":"object","additionalProperties":false,"description":"Every field is optional; only the supplied keys are written. The derived occupancy counters (maleAdmitted, femaleAdmitted, otherAdmitted, and the *Pending holds) are not writable here: they are owned by the booking service.","properties":{"name":{"type":"string","minLength":2,"maxLength":100},"location":{"type":"string","minLength":2,"maxLength":255},"contactNumber":{"type":"string","pattern":"^[0-9]{10,15}$"},"maleCapacity":{"type":"integer","minimum":0},"femaleCapacity":{"type":"integer","minimum":0},"attachedBathrooms":{"type":"integer","minimum":0},"otherCapacity":{"type":"integer","minimum":0}}},"StayhubBooking":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"publicReference":{"type":"string","description":"Human-facing reference prefixed `SHB-`.","example":"SHB-7F3A21C9"},"stayhubId":{"type":"string","format":"uuid"},"guestId":{"type":"string","format":"uuid"},"rentId":{"type":"string","format":"uuid"},"paymentId":{"type":"string","format":"uuid","nullable":true},"sharingType":{"type":"string","example":"Triple"},"gender":{"type":"string","description":"Gender bucket whose seat this booking consumes, released on cancellation.","example":"Female"},"amountPaise":{"type":"integer","description":"Gross amount charged, in paise, snapshotted at checkout."},"quantity":{"type":"integer","default":1},"cancellationFeePercent":{"type":"integer","default":10},"status":{"type":"string","enum":["pending","confirmed","checkin_pending","checked_in","checked_out","cancelled"]},"source":{"type":"string","example":"pgbee"},"cancelledAt":{"type":"string","format":"date-time","nullable":true},"refundAmountPaise":{"type":"integer","nullable":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"Booking":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"publicReference":{"type":"string"},"hostelId":{"type":"string","format":"uuid"},"bedId":{"type":"string","format":"uuid"},"studentId":{"type":"string","format":"uuid","nullable":true},"occupantName":{"type":"string","nullable":true},"occupantPhone":{"type":"string","nullable":true},"monthlyRentPaise":{"type":"integer"},"amountPaidPaise":{"type":"integer"},"status":{"type":"string","enum":["pending","confirmed","checkin_pending","checked_in","checked_out","cancelled"]},"source":{"type":"string"},"ownerNote":{"type":"string","nullable":true},"scheduledCheckInAt":{"type":"string","format":"date-time","nullable":true},"checkedInAt":{"type":"string","format":"date-time","nullable":true},"checkedOutAt":{"type":"string","format":"date-time","nullable":true},"cancelledAt":{"type":"string","format":"date-time","nullable":true},"refundAmountPaise":{"type":"integer","nullable":true}}},"Room":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"hostelId":{"type":"string","format":"uuid"},"floor":{"type":"integer","default":1},"roomNumber":{"type":"string","example":"A-101"},"sharingType":{"type":"string","nullable":true,"example":"4_person_room"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"Bed":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"roomId":{"type":"string","format":"uuid"},"hostelId":{"type":"string","format":"uuid"},"label":{"type":"string","example":"A-101-1"},"price":{"type":"integer","default":0},"isCorner":{"type":"boolean","default":false},"status":{"type":"string","enum":["available","reserved","occupied","maintenance","blocked"]},"lockedByUserId":{"type":"string","format":"uuid","nullable":true},"lockedUntil":{"type":"string","format":"date-time","nullable":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"TenantFee":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"hostelId":{"type":"string","format":"uuid"},"bookingId":{"type":"string","format":"uuid"},"studentId":{"type":"string","format":"uuid","nullable":true},"billingPeriod":{"type":"string","description":"Calendar billing period this obligation covers. Unique per booking.","example":"2026-04"},"dueDate":{"type":"string","format":"date"},"amountPaise":{"type":"integer"},"status":{"type":"string","enum":["pending","paid","overdue","waived"]},"paymentSource":{"type":"string","enum":["razorpay","offline"],"nullable":true},"paymentId":{"type":"string","format":"uuid","nullable":true},"paidAt":{"type":"string","format":"date-time","nullable":true},"paymentNote":{"type":"string","nullable":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"Ad":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"company":{"type":"string"},"contact":{"type":"string"},"address":{"type":"string","nullable":true},"attachments":{"type":"array","items":{"type":"string"}},"link":{"type":"string","format":"uri","nullable":true},"expiry":{"type":"string","format":"date-time","description":"Ads with `expiry` earlier than now are treated as expired."},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"Application":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"hostelId":{"type":"string","format":"uuid"},"studentId":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["pending","accepted","rejected","student_proceeded","student_declined","stay_confirmed"]},"studentNote":{"type":"string","nullable":true},"ownerNote":{"type":"string","nullable":true},"roomType":{"type":"string","nullable":true},"moveInDate":{"type":"string","format":"date","nullable":true},"amountCollectedPaise":{"type":"integer","nullable":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"Referral":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"referrerUserId":{"type":"string","format":"uuid"},"refereeUserId":{"type":"string","format":"uuid","description":"Unique — a user may be referred only once."},"code":{"type":"string"},"status":{"type":"string","enum":["pending","rewarded"]},"pointsAwarded":{"type":"integer","default":0},"createdAt":{"type":"string","format":"date-time"}}},"FileVariant":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"key":{"type":"string"},"location":{"type":"string"},"variant":{"type":"string","enum":["thumbnail","medium","large","original"]},"width":{"type":"integer","nullable":true},"height":{"type":"integer","nullable":true},"originalName":{"type":"string","nullable":true},"mimetype":{"type":"string"},"size":{"type":"integer"}}},"NotificationType":{"type":"string","description":"Distinguishes a system-generated notice from a broadcast sent by a superadmin.","enum":["transactional","announcement"]},"Notification":{"type":"object","description":"A notice addressed to one user. Every domain event that needs the user's attention writes one of these, so the notification list is the single place a client checks for state changes.","properties":{"id":{"type":"string","format":"uuid"},"userId":{"type":"string","format":"uuid","description":"Recipient."},"title":{"type":"string","maxLength":150},"message":{"type":"string"},"type":{"$ref":"#/components/schemas/NotificationType"},"isRead":{"type":"boolean","default":false},"enquiryId":{"type":"string","format":"uuid","nullable":true,"description":"Set when the notice was raised by an enquiry."},"applicationId":{"type":"string","format":"uuid","nullable":true,"description":"Set when the notice was raised by a property application."},"bookingId":{"type":"string","format":"uuid","nullable":true,"description":"Set when the notice was raised by a booking."},"waitlistId":{"type":"string","format":"uuid","nullable":true,"description":"Set when the notice was raised by a waitlist entry."},"paymentId":{"type":"string","format":"uuid","nullable":true,"description":"Set when the notice was raised by a payment."},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","userId","title","message","type","isRead","createdAt","updatedAt"]},"TicketStatus":{"type":"string","description":"Lifecycle of a grievance. Only a superadmin moves a ticket to `resolved` or `closed`; owners and students stop at `in_progress`.","enum":["open","in_progress","resolved","closed"]},"TicketPriority":{"type":"string","description":"How quickly the property should respond.","enum":["low","medium","high"]},"TicketMessage":{"type":"object","description":"One message in a ticket's reply thread, authored by either the student who raised it or the owner of the hostel.","properties":{"id":{"type":"string","format":"uuid"},"ticketId":{"type":"string","format":"uuid"},"senderUserId":{"type":"string","format":"uuid"},"senderRole":{"type":"string","description":"The author's role at the time of the message, so a thread reads correctly without extra lookups."},"message":{"type":"string"},"attachments":{"type":"array","items":{"type":"string"},"description":"Storage keys for files attached to this message."},"createdAt":{"type":"string","format":"date-time"}},"required":["id","ticketId","senderUserId","senderRole","message","createdAt"]},"TicketStatusHistory":{"type":"object","description":"An audit-trail entry recording one status transition on a ticket.","properties":{"id":{"type":"string","format":"uuid"},"ticketId":{"type":"string","format":"uuid"},"fromStatus":{"allOf":[{"$ref":"#/components/schemas/TicketStatus"}],"nullable":true,"description":"Absent on the entry created with the ticket."},"toStatus":{"$ref":"#/components/schemas/TicketStatus"},"comment":{"type":"string","nullable":true},"updatedByUserId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"}},"required":["id","ticketId","toStatus","updatedByUserId","createdAt"]},"Ticket":{"type":"object","description":"A grievance a student has raised against a hostel. Every ticket is tied to a hostel, which is what lets the owner's queue be derived rather than stored.","properties":{"id":{"type":"string","format":"uuid"},"userId":{"type":"string","format":"uuid","description":"The student who raised it."},"hostelId":{"type":"string","format":"uuid","description":"The hostel it is about."},"subject":{"type":"string","maxLength":255},"description":{"type":"string","maxLength":5000},"status":{"$ref":"#/components/schemas/TicketStatus"},"priority":{"$ref":"#/components/schemas/TicketPriority"},"attachments":{"type":"array","items":{"type":"string"},"description":"Storage keys for files attached to the ticket."},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"messages":{"type":"array","items":{"$ref":"#/components/schemas/TicketMessage"},"description":"The reply thread. Empty unless explicitly requested."},"statusHistory":{"type":"array","items":{"$ref":"#/components/schemas/TicketStatusHistory"},"description":"Audit trail of status changes. Empty unless explicitly requested."}},"required":["id","userId","hostelId","subject","description","status","priority","createdAt","updatedAt"]}}},"security":[{"bearerAuth":[]}],"paths":{"/users/profile/status":{"get":{"tags":["Users"],"summary":"Get profile completion status","description":"Retrieve the current authenticated user's profile completion status.\nReturns flags indicating which required fields are completed.\n\n**Use Cases:**\n- OAuth users who need to provide phone number and role\n- Redirect logic after login (dashboard vs complete-profile page)\n- Profile completion progress indicators\n- Conditional UI rendering based on completion status\n\n**Profile Requirements:**\n- Phone number (phoneNo)\n- Role assignment (student or owner)\n- Both must be present for profileCompleted=true\n\n**Auth Providers:**\n- LOCAL: Profile auto-completed during signup\n- GOOGLE: Profile incomplete, requires completion\n\n**Response Fields:**\n- `profileCompleted`: Overall completion status (boolean)\n- `hasPhoneNo`: Whether phone number is set (boolean)\n- `hasRole`: Whether role is assigned (boolean)\n- `authProvider`: Authentication method (LOCAL/GOOGLE)\n","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Profile status retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Profile status fetched"},"data":{"type":"object","properties":{"profileCompleted":{"type":"boolean","description":"Whether profile is fully completed","example":false},"hasPhoneNo":{"type":"boolean","description":"Whether phone number is set","example":false},"hasRole":{"type":"boolean","description":"Whether role is assigned","example":false},"authProvider":{"type":"string","enum":["LOCAL","GOOGLE"],"description":"Authentication provider used","example":"GOOGLE"}}}}},"examples":{"incompleteProfile":{"summary":"Incomplete profile (OAuth user)","value":{"ok":true,"message":"Profile status fetched","data":{"profileCompleted":false,"hasPhoneNo":false,"hasRole":false,"authProvider":"GOOGLE"}}},"completedProfile":{"summary":"Completed profile (Local auth user)","value":{"ok":true,"message":"Profile status fetched","data":{"profileCompleted":true,"hasPhoneNo":true,"hasRole":true,"authProvider":"LOCAL"}}}}}}},"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"},"examples":{"notAuthenticated":{"summary":"Missing or invalid access token","value":{"ok":false,"message":"User not authenticated"}}}}}},"404":{"description":"User not found in database","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"},"examples":{"userNotFound":{"summary":"User ID in token doesn't exist","value":{"ok":false,"message":"User not found"}}}}}}}}},"/users/profile/complete":{"post":{"tags":["Users"],"summary":"Complete user profile","description":"Complete user profile by providing phone number and role selection.\nThis endpoint is primarily for OAuth users (Google login) who don't provide\nphone number and role during initial authentication.\n\n**Profile Completion Flow:**\n1. User logs in with Google OAuth\n2. Backend creates user with profileCompleted=false\n3. Frontend redirects to /complete-profile page\n4. User provides phone number and selects role\n5. Call this endpoint to complete profile\n6. Backend updates user and creates Student/Owner profile\n7. User can now access full application\n\n**Profile Creation:**\n- If role is \"student\": Creates Student profile with name, phoneNo\n- If role is \"owner\": Creates Owner profile with name, phone\n- Additional profile details can be added later via update endpoints\n\n**Validation Rules:**\n- Phone number: Minimum 10 digits, numbers only\n- Role: Must be either \"student\" or \"owner\"\n- Profile must not be already completed\n\n**Role Options:**\n- `student`: Users looking for hostels\n- `owner`: Users managing/listing hostels\n\n**Important:**\n- Can only be called once per user\n- Returns 400 if profile already completed\n- Creates role if it doesn't exist in database\n- After completion, user should be redirected to dashboard\n","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["phoneNo","role"],"properties":{"phoneNo":{"type":"string","description":"User's phone number (minimum 10 digits, numbers only)","pattern":"^[0-9]{10,}$","example":"9876543210"},"role":{"type":"string","enum":["student","owner"],"description":"User's role in the platform","example":"student"}}},"examples":{"studentProfile":{"summary":"Student profile completion","value":{"phoneNo":"9876543210","role":"student"}},"ownerProfile":{"summary":"Owner profile completion","value":{"phoneNo":"9123456789","role":"owner"}}}}}},"responses":{"200":{"description":"Profile completed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Profile completed successfully"},"data":{"type":"object","properties":{"user":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"User's unique identifier","example":"7362dd3f-9ba7-4eb0-8b4f-40320c79991d"},"name":{"type":"string","description":"User's full name","example":"Rahul Kumar"},"email":{"type":"string","format":"email","description":"User's email address","example":"rahul.kumar@gmail.com"},"phoneNo":{"type":"string","description":"User's phone number (just added)","example":"9876543210"},"role":{"type":"string","enum":["student","owner"],"description":"User's role (just assigned)","example":"student"},"profileCompleted":{"type":"boolean","description":"Profile completion status (now true)","example":true}}}}}}},"examples":{"ok":{"summary":"Successful profile completion","value":{"ok":true,"message":"Profile completed successfully","data":{"user":{"id":"7362dd3f-9ba7-4eb0-8b4f-40320c79991d","name":"Rahul Kumar","email":"rahul.kumar@gmail.com","phoneNo":"9876543210","role":"student","profileCompleted":true}}}}}}}},"400":{"description":"Invalid request or profile already completed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"},"examples":{"alreadyCompleted":{"summary":"Profile already completed","value":{"ok":false,"message":"Profile already completed"}},"invalidPhone":{"summary":"Invalid phone number format","value":{"ok":false,"message":"Validation failed","error":{"code":"VALIDATION_ERROR","details":[{"field":"phoneNo","message":"Phone number must be at least 10 digits"}]}}},"invalidRole":{"summary":"Invalid role value","value":{"ok":false,"message":"Validation failed","error":{"code":"VALIDATION_ERROR","details":[{"field":"role","message":"Role must be either 'student' or 'owner'"}]}}}}}}},"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"500":{"description":"Failed to update user profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"updateFailed":{"summary":"Database update failed","value":{"ok":false,"message":"Failed to update user"}}}}}}}}},"/users/profile":{"get":{"tags":["Users"],"summary":"Get complete user profile","description":"Retrieve the authenticated user's complete profile including all related data.\n\n**Use Cases:**\n- Display user profile page\n- Load user dashboard data\n- Show user-specific navigation items based on role\n- Display student or owner profile information\n- List hostels owned by the user (for owners)\n\n**Returned Data:**\n- User basic info (id, name, email, phone, profile status)\n- Role information (student or owner)\n- Student profile (if role is student) - includes dob, gender, address\n- Owner profile (if role is owner) - includes name, phone\n- Hostels array (all hostels owned by the user)\n\n**Profile Completeness:**\n- If user has no student/owner profile: Returns null for both fields\n- If user has no role: Returns null for role field\n- If user has no hostels: Returns empty array []\n- All edge cases are handled gracefully\n\n**Authentication:**\n- Requires valid JWT access token in Authorization header\n- Returns current user's data based on token\n","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Profile retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Profile fetched successfully"},"data":{"type":"object","properties":{"user":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string","format":"email"},"phoneNo":{"type":"string","nullable":true},"profileCompleted":{"type":"boolean"},"phoneNoVerified":{"type":"boolean"},"authProvider":{"type":"string","enum":["LOCAL","GOOGLE"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"role":{"type":"object","nullable":true,"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","enum":["student","owner"]}}},"student":{"type":"object","nullable":true,"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"dob":{"type":"string","format":"date","nullable":true},"gender":{"type":"string","enum":["Male","Female"],"nullable":true},"address":{"type":"string","nullable":true},"phoneNo":{"type":"string"}}},"owner":{"type":"object","nullable":true,"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"phone":{"type":"string"}}},"hostels":{"type":"array","items":{"type":"object"}}}}}},"examples":{"studentProfile":{"summary":"Student user profile","value":{"ok":true,"message":"Profile fetched successfully","data":{"user":{"id":"7362dd3f-9ba7-4eb0-8b4f-40320c79991d","name":"John Doe","email":"john.doe@example.com","phoneNo":"9876543210","profileCompleted":true,"phoneNoVerified":false,"authProvider":"LOCAL","createdAt":"2024-01-01T00:00:00.000Z","updatedAt":"2024-01-01T00:00:00.000Z"},"role":{"id":"role-uuid","name":"student"},"student":{"id":"student-uuid","name":"John Doe","dob":"2000-01-01","gender":"Male","address":"123 Main Street","phoneNo":"9876543210"},"owner":null,"hostels":[]}}},"ownerProfile":{"summary":"Owner user profile with hostels","value":{"ok":true,"message":"Profile fetched successfully","data":{"user":{"id":"owner-user-uuid","name":"Jane Owner","email":"jane.owner@example.com","phoneNo":"9123456789","profileCompleted":true,"phoneNoVerified":true,"authProvider":"GOOGLE","createdAt":"2024-01-01T00:00:00.000Z","updatedAt":"2024-01-01T00:00:00.000Z"},"role":{"id":"role-uuid","name":"owner"},"student":null,"owner":{"id":"owner-uuid","name":"Jane Owner","phone":"9123456789"},"hostels":[{"id":"hostel-uuid","hostelName":"Sunshine Hostel","address":"456 Road, City","phone":"9123456789","bedrooms":10,"available":true}]}}}}}}},"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"},"examples":{"notAuthenticated":{"summary":"Missing or invalid access token","value":{"ok":false,"message":"User not authenticated","data":null}}}}}},"404":{"description":"User not found in database","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"},"examples":{"userNotFound":{"summary":"User ID in token doesn't exist","value":{"ok":false,"message":"User not found","data":null}}}}}}}},"patch":{"tags":["Users"],"summary":"Update the authenticated user's profile","description":"Updates the caller's name, email, or phone number. Every field is\noptional and only the supplied keys are written.\n\nTwo consequences of changing identity fields come back in the response\ninstead of having to be guessed:\n\n- `phoneVerificationRequired` is true when the phone number changed. The\n  account's verified flag is cleared, so the new number must be proven\n  with `POST /users/profile/phone/verify` before it counts.\n- `requiresReauthentication` is true when the email changed, because the\n  old session's claims no longer describe the account.\n\nAn email or phone number already used by another account is rejected\nwith 409. When the caller has an owner profile, the name and phone are\nmirrored onto it so the property listing never shows stale contact\ndetails.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":2,"maxLength":100,"description":"Letters and spaces only."},"email":{"type":"string","format":"email"},"phoneNo":{"type":"string","minLength":10,"maxLength":15,"pattern":"^[0-9]+$"}}}}}},"responses":{"200":{"description":"Profile updated","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Profile updated"},"data":{"type":"object","properties":{"user":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string","format":"email"},"phoneNo":{"type":"string"},"phoneNoVerified":{"type":"boolean"},"profileCompleted":{"type":"boolean"}}},"phoneVerificationRequired":{"type":"boolean","description":"True when the phone number changed and must be re-verified."},"requiresReauthentication":{"type":"boolean","description":"True when the email changed and the session should be renewed."}}}}}}}},"400":{"description":"Payload failed validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"404":{"description":"No user matched the authenticated id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"409":{"description":"The email or phone number is already in use","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/users/profile/photo":{"get":{"tags":["Users"],"summary":"Fetch the authenticated user's profile photo","description":"Retrieve the current user's profile photo metadata along with all generated variants (thumbnail, medium, large).\nReturns `file: null` when no profile photo has been set yet.\n\n**Profile Photo Setup Flow:**\n1. Upload an image via `POST /file` using `multipart/form-data` with the file field named `file`.\n2. Receive a response containing the generated file variants and their keys.\n3. Call `PUT /users/profile/photo` with the chosen file key to mark it as the profile photo.\n","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Profile photo metadata returned","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Profile photo fetched"},"data":{"type":"object","properties":{"file":{"$ref":"#/components/schemas/File"},"variants":{"type":"array","items":{"$ref":"#/components/schemas/File"}}}}}},"examples":{"profilePhoto":{"value":{"ok":true,"message":"Profile photo fetched","data":{"file":{"key":"44ea324c-de69-42f1-a991-63b503fd9405-original.webp","location":"http://localhost:8080/uploads/...","originalName":"test.png","mimetype":"image/webp","size":420812,"variant":"original","width":1536,"height":1024},"variants":[{"key":"44ea324c-de69-42f1-a991-63b503fd9405-medium.webp","location":"http://localhost:8080/uploads/...","variant":"medium","size":51556,"width":800,"height":533}]}}}}}}},"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"404":{"description":"Profile photo not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"},"examples":{"noneSet":{"summary":"No photo stored","value":{"ok":true,"message":"Profile photo not set","data":{"file":null}}}}}}}}},"put":{"tags":["Users"],"summary":"Set the authenticated user's profile photo","description":"Mark an already uploaded file as the user's profile photo. The file must belong to the authenticated user.\n\n**Precondition:** Upload the image via `POST /file` before calling this endpoint. Use the\nreturned `key` (e.g. `abc123-original.webp`) in this request body to persist the selection.\n","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"key":{"type":"string","description":"File key returned by the file upload endpoint"}},"required":["key"]}}}},"responses":{"200":{"description":"Profile photo key persisted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"},"examples":{"setPhoto":{"value":{"ok":true,"message":"Profile photo updated","data":{"key":"44ea324c-de69-42f1-a991-63b503fd9405-original.webp"}}}}}}},"400":{"description":"Missing file key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"404":{"description":"File not found or does not belong to user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}}},"/tickets":{"post":{"tags":["Tickets"],"summary":"Raise a support ticket","description":"Create a new issue ticket for the authenticated user.","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["subject","description"],"properties":{"subject":{"type":"string"},"description":{"type":"string"},"priority":{"type":"string","enum":["low","medium","high"],"default":"medium"}}}}}},"responses":{"201":{"description":"Ticket raised successfully"},"400":{"description":"Validation error"},"401":{"description":"Unauthorized"}}},"get":{"tags":["Tickets"],"summary":"Get my tickets","description":"Retrieve paginated tickets raised by the authenticated user.","security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","default":1}},{"in":"query","name":"limit","schema":{"type":"integer","default":10}}],"responses":{"200":{"description":"Tickets retrieved successfully"},"401":{"description":"Unauthorized"}}}},"/tickets/{id}":{"get":{"tags":["Tickets"],"summary":"Get ticket with status timeline","description":"Retrieve ticket details along with its chronological status history.\nUser can view only their own ticket unless they are support (owner/admin).\n","security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Ticket retrieved successfully"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Ticket not found"}}}},"/tickets/{id}/status":{"patch":{"tags":["Tickets"],"summary":"Update ticket status","description":"Update status of an existing ticket. Only support users (owner/admin) can perform this action.","security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["status"],"properties":{"status":{"type":"string","enum":["open","in_progress","resolved","closed"]},"comment":{"type":"string"}}}}}},"responses":{"200":{"description":"Ticket status updated successfully"},"400":{"description":"Validation error"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Ticket not found"}}}},"/system-config":{"get":{"tags":["System Configuration"],"summary":"List runtime system configuration","description":"Superadmin-only list of typed, versioned configuration values.","responses":{"200":{"description":"Configuration values returned."},"403":{"description":"Caller is not a superadmin."}}}},"/system-config/audit":{"get":{"tags":["System Configuration"],"summary":"List immutable configuration audit history","parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1,"default":1}},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100,"default":25}},{"in":"query","name":"key","schema":{"type":"string"}}],"responses":{"200":{"description":"Audit records returned."}}}},"/system-config/{key}":{"patch":{"tags":["System Configuration"],"summary":"Update one runtime configuration value","description":"Requires optimistic version matching and stores an immutable reasoned audit record.","parameters":[{"in":"path","name":"key","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["value","expectedVersion","reason"],"properties":{"value":{"oneOf":[{"type":"number"},{"type":"boolean"},{"type":"string"}]},"expectedVersion":{"type":"integer","minimum":1},"reason":{"type":"string","minLength":3,"maxLength":500}}}}}},"responses":{"200":{"description":"Configuration updated and audited."},"400":{"description":"Unknown key or invalid value."},"409":{"description":"Optimistic version conflict."}}}},"/student":{"post":{"tags":["Students"],"summary":"Create student profile","description":"Register a new student profile with personal details.\n\n**Business Rules:**\n- User must be authenticated\n- All required fields must be provided\n- Gender must be valid enum value\n- One student profile per user\n\n**Use Cases:**\n- User registers as student\n- Complete student profile for hostel search\n","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["dob","name","address","phoneNo","gender"],"properties":{"dob":{"type":"string","format":"date"},"name":{"type":"string"},"address":{"type":"string"},"phoneNo":{"type":"string"},"gender":{"type":"string","enum":["MALE","FEMALE","OTHER"]}}},"examples":{"newStudent":{"value":{"dob":"2000-01-15","name":"John Doe","address":"123 Main St, City","phoneNo":"1234567890","gender":"MALE"}}}}}},"responses":{"201":{"description":"Student created successfully","content":{"application/json":{"examples":{"ok":{"value":{"ok":true,"message":"Student created successfully","data":{"newStudent":{"id":"1050e8400-e29b-41d4-a716-446655440000","name":"John Doe"}}}}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"500":{"description":"Failed to create student","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"get":{"tags":["Students"],"summary":"Get all students with pagination","description":"Retrieve paginated list of all students.\n\n**Business Rules:**\n- Public endpoint\n- Default page size: 10 students\n- Supports pagination\n\n**Use Cases:**\n- Admin view all students\n- Browse students directory\n","parameters":[{"in":"query","name":"page","schema":{"type":"integer","default":1},"example":1},{"in":"query","name":"limit","schema":{"type":"integer","default":10},"example":10}],"responses":{"200":{"description":"Students fetched successfully","content":{"application/json":{"examples":{"ok":{"value":{"ok":true,"message":"Students fetched successfully","data":{"students":[],"pagination":{"total":100,"page":1,"limit":10,"totalPages":10}}}}}}}}}}},"/student/{id}":{"put":{"tags":["Students"],"summary":"Update student profile","description":"Update student profile details. Only the profile owner can update their information.\n\n**Authorization:**\n- Requires valid JWT token\n- User must own the profile\n","security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"dob":{"type":"string"},"name":{"type":"string"},"address":{"type":"string"},"phoneNo":{"type":"string"},"gender":{"type":"string"}}},"examples":{"update":{"value":{"address":"Updated address","phoneNo":"0987654321"}}}}}},"responses":{"200":{"description":"Student updated successfully"},"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Not authorized to update this profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Student not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}},"delete":{"tags":["Students"],"summary":"Delete student profile","description":"Permanently remove a student profile from the system.\nOnly the profile owner can delete their information.\n\n**Authorization:**\n- Requires valid JWT token\n- Returns 403 if user doesn't own the profile\n","security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Student deleted successfully"},"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Not authorized to delete this profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Student not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}},"get":{"tags":["Students"],"summary":"Get student profile by ID","description":"Retrieve detailed student information by unique identifier.","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"example":"1050e8400-e29b-41d4-a716-446655440000"}],"responses":{"200":{"description":"Student fetched successfully","content":{"application/json":{"examples":{"ok":{"value":{"ok":true,"message":"Student fetched successfully","data":{"student":{"id":"1050e8400-e29b-41d4-a716-446655440000","name":"John Doe"}}}}}}}},"400":{"description":"Invalid ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"404":{"description":"Student not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}}},"/bookings/stayhub/checkout":{"post":{"tags":["Stayhub Bookings"],"summary":"Start a stay hub checkout","description":"Holds a seat at the requested stay hub and returns the payment order\nneeded to capture the amount.\n\nThe price is read from the stay hub's `Rent` row for `sharingType`; it\nis never taken from the request. A seat is added to the matching\n`*Pending` counter under a row lock, so the last seat can genuinely only\nbe sold once.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["stayhubId","sharingType"],"properties":{"stayhubId":{"type":"string","format":"uuid"},"sharingType":{"type":"string","minLength":1,"maxLength":60,"example":"Triple"}}},"examples":{"checkout":{"value":{"stayhubId":"2c9e1a44-6f0a-4b6f-9a1e-7d2f5b8c3e10","sharingType":"Triple"}}}}}},"responses":{"201":{"description":"Checkout created","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Checkout created"},"data":{"type":"object","properties":{"booking":{"$ref":"#/components/schemas/StayhubBooking"},"paymentId":{"type":"string","format":"uuid"},"orderId":{"type":"string"},"keyId":{"type":"string"},"amountPaise":{"type":"integer"},"currency":{"type":"string","example":"INR"}}}}}}}},"400":{"description":"Payload failed validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"The caller is not a guest account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"409":{"description":"No seat left, no rent row for the sharing type, or the guest already holds a live booking at this venue","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/bookings/stayhub":{"get":{"tags":["Stayhub Bookings"],"summary":"List my stay hub bookings","description":"Returns the calling guest's own stay hub bookings, optionally narrowed to\na single status. The guest id comes from the verified token, never from\nthe query string.\n","parameters":[{"in":"query","name":"status","required":false,"schema":{"type":"string","enum":["pending","confirmed","checkin_pending","checked_in","checked_out","cancelled"]},"description":"Return only bookings in this status"}],"responses":{"200":{"description":"The guest's bookings","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Bookings fetched"},"data":{"type":"object","properties":{"bookings":{"type":"array","items":{"$ref":"#/components/schemas/StayhubBooking"}}}}}}}}},"400":{"description":"Invalid status filter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"The caller is not a guest account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}}}},"/bookings/stayhub/{id}/cancel":{"patch":{"tags":["Stayhub Bookings"],"summary":"Cancel a stay hub booking","description":"Cancels one of the calling guest's stay hub bookings. The seat is\nreleased back to the gender bucket it came from, the pending or admitted\ncounter is decremented, and the cancellation fee recorded on the booking\nis applied to the refund.\n","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"Stay hub booking ID"}],"responses":{"200":{"description":"Booking cancelled","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Booking cancelled"},"data":{"type":"object","properties":{"booking":{"$ref":"#/components/schemas/StayhubBooking"},"refundAmountPaise":{"type":"integer","nullable":true}}}}}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"The caller is not a guest account, or does not own this booking","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"No booking matched the supplied id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"409":{"description":"The booking is already checked out or cancelled","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/stayhub-bookings":{"get":{"tags":["Stayhub Bookings"],"summary":"List stay hub bookings (superadmin)","description":"Paginated superadmin listing of every stay hub booking, with optional\nfilters.\n\n`authorize` and `requireSuperadmin` are applied at the router level, so\nno endpoint on this console can be published to a non-superadmin by\naccident. `requireSuperadmin` re-reads the role from the database, so a\ndemotion takes effect immediately rather than at token expiry.\n","parameters":[{"in":"query","name":"page","required":false,"schema":{"type":"integer","minimum":1,"default":1}},{"in":"query","name":"limit","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"in":"query","name":"stayhubId","required":false,"schema":{"type":"string","format":"uuid"},"description":"Filter by venue"},{"in":"query","name":"guestId","required":false,"schema":{"type":"string","format":"uuid"},"description":"Filter by guest"},{"in":"query","name":"status","required":false,"schema":{"type":"string","enum":["pending","confirmed","checkin_pending","checked_in","checked_out","cancelled"]}},{"in":"query","name":"from","required":false,"schema":{"type":"string","format":"date-time"},"description":"Earliest `createdAt` to include. Must not be after `to`."},{"in":"query","name":"to","required":false,"schema":{"type":"string","format":"date-time"},"description":"Latest `createdAt` to include"}],"responses":{"200":{"description":"A page of stay hub bookings","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"data":{"type":"object","properties":{"bookings":{"type":"array","items":{"$ref":"#/components/schemas/StayhubBooking"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}}}}}}},"400":{"description":"Invalid filter values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Caller is not a superadmin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}}},"post":{"tags":["Stayhub Bookings"],"summary":"Create a stay hub counter booking (superadmin)","description":"Records a booking for a guest at a stay hub and confirms it immediately,\nfor an occupant who is settled in cash at the venue.\n\nBecause no payment is taken online, no gateway order is created and the\nbooking is born `confirmed` with `source: direct` and a null `paymentId`\n— it is never left `pending`, which the abandoned-checkout sweep would\notherwise cancel. The seat is moved from the pending to the admitted\ncounter in a single transaction under a row lock, so the last seat\ncannot be sold twice.\n\nThe occupant must be an existing guest account, identified by `guestId`\nor by `occupantPhone`. `occupantPhone` is matched ignoring punctuation\nand an optional leading country code, so `+91 98765 43210` finds a guest\nstored as `9876543210`. A `stayhub_bookings` row cannot exist without a\nguest, and the seat is later released against that guest's gender\nbucket, so an unmatched number is a 404 rather than a placeholder\nrecord. The guest's phone is not required to be OTP-verified: the\nsuperadmin is vouching for the occupant at the counter.\n\nThe price is read from the stay hub's own `Rent` row for\n`sharingType` and is never taken from the request, and the guest's\nphone number is only used to identify them.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["stayhubId","sharingType"],"properties":{"stayhubId":{"type":"string","format":"uuid"},"sharingType":{"type":"string","minLength":1,"maxLength":60,"example":"Female"},"guestId":{"type":"string","format":"uuid","description":"Known guest to book. Provide this or `occupantPhone`."},"occupantPhone":{"type":"string","minLength":6,"maxLength":20,"description":"Phone the guest registered with. Provide this or `guestId`.","example":"+91 98765 43210"}}},"examples":{"byPhone":{"summary":"Find the guest by the number they registered with","value":{"stayhubId":"2c9e1a44-6f0a-4b6f-9a1e-7d2f5b8c3e10","sharingType":"Female","occupantPhone":"+91 98765 43210"}},"byGuestId":{"summary":"Book a guest that is already known","value":{"stayhubId":"2c9e1a44-6f0a-4b6f-9a1e-7d2f5b8c3e10","sharingType":"Female","guestId":"7b3d5f21-9c48-4e2a-8f31-6a0c9e4d2b57"}}}}}},"responses":{"201":{"description":"Stay hub booking created","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Stayhub booking created"},"data":{"type":"object","properties":{"booking":{"$ref":"#/components/schemas/StayhubBooking"},"guestNotified":{"type":"boolean","description":"True when the occupant had an email address and a\nconfirmation was queued for them. False when the guest\nregistered by phone only, or the send failed — the\nbooking is still recorded either way.\n","example":true}}}}}}}},"400":{"description":"Neither `guestId` nor `occupantPhone` was usable, or the guest's\nstored gender does not match any stay hub capacity bucket\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Caller is not a superadmin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"No guest matched the supplied id or phone, the stay hub does not\nexist, or it does not offer that sharing type\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"409":{"description":"The guest already has an active booking at this stay hub, the stay\nhub has no valid price configured, or it has no seat left in the\nguest's gender bucket\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/stayhub-bookings/{id}":{"get":{"tags":["Stayhub Bookings"],"summary":"Get a stay hub booking (superadmin)","description":"Returns a single stay hub booking by id.","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"Stay hub booking ID"}],"responses":{"200":{"description":"Stay hub booking","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"data":{"type":"object","properties":{"booking":{"$ref":"#/components/schemas/StayhubBooking"}}}}}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Caller is not a superadmin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"No booking matched the supplied id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}},"delete":{"tags":["Stayhub Bookings"],"summary":"Cancel a stay hub booking (superadmin)","description":"Cancels a stay hub booking on a guest's behalf. The seat is released back\nto the gender bucket it came from and the pending or admitted counter is\ndecremented, exactly as a guest-initiated cancellation would do.\n","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"Stay hub booking ID"}],"responses":{"200":{"description":"Booking cancelled","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"data":{"type":"object","properties":{"booking":{"$ref":"#/components/schemas/StayhubBooking"}}}}}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Caller is not a superadmin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"No booking matched the supplied id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"409":{"description":"The booking is already checked out or cancelled","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/stayhub":{"get":{"tags":["Stayhubs"],"summary":"List stay hubs (paginated)","description":"Returns one page of stay hub venues together with pagination metadata.\n","parameters":[{"in":"query","name":"page","required":false,"schema":{"type":"integer","minimum":1,"default":1},"description":"1-based page number"},{"in":"query","name":"limit","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":10},"description":"Page size, capped at 100"}],"responses":{"200":{"description":"A page of stay hubs","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Stay hubs retrieved successfully"},"data":{"type":"object","properties":{"stayhubs":{"type":"array","items":{"$ref":"#/components/schemas/Stayhub"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}}}}}}}},"400":{"description":"Invalid pagination parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Caller is not a superadmin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}}},"post":{"tags":["Stayhubs"],"summary":"Create a stay hub","description":"Creates an event stay hub venue.\n\n`stayhubId` is deliberately not accepted: it is assigned to guests, not\nsupplied when the venue is created.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StayhubCreate"},"examples":{"venue":{"value":{"name":"Dhwani Event Stay Hub","location":"Bengaluru, Karnataka","contactNumber":"9876543210","maleCapacity":120,"femaleCapacity":120,"otherCapacity":20,"attachedBathrooms":40}}}}}},"responses":{"201":{"description":"Stay hub created","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Stay hub created successfully"},"data":{"type":"object","properties":{"stayhub":{"$ref":"#/components/schemas/Stayhub"}}}}}}}},"400":{"description":"Payload failed validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Caller is not a superadmin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}}}},"/stayhub/all":{"get":{"tags":["Stayhubs"],"summary":"List every stay hub (unpaginated)","description":"Returns all stay hub venues in a single response, with no pagination\nmetadata. Declared before `GET /stayhub/{id}` so the literal path is not\nswallowed by the parameterised route.\n","responses":{"200":{"description":"All stay hubs","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Stay hubs retrieved successfully"},"data":{"type":"object","properties":{"stayhubs":{"type":"array","items":{"$ref":"#/components/schemas/Stayhub"}}}}}}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Caller is not a superadmin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}}}},"/stayhub/{id}":{"get":{"tags":["Stayhubs"],"summary":"Get a stay hub with its guests","description":"Returns a single stay hub together with the guests admitted to it.\n","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"Stay hub ID"}],"responses":{"200":{"description":"Stay hub retrieved","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Stay hub retrieved successfully"},"data":{"type":"object","properties":{"stayhub":{"allOf":[{"$ref":"#/components/schemas/Stayhub"},{"type":"object","properties":{"guests":{"type":"array","items":{"$ref":"#/components/schemas/Guest"}}}}]}}}}}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Caller is not a superadmin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"No stay hub matched the supplied id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}},"put":{"tags":["Stayhubs"],"summary":"Update a stay hub","description":"Updates the mutable fields of an existing stay hub. Every field in the\nrequest body is optional; only the supplied keys are written.\n\nAn update that would push a gender's `*Admitted` + `*Pending` past its\n`*Capacity` is rejected with 400.\n","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"Stay hub ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StayhubUpdate"},"examples":{"bumpCapacity":{"value":{"maleCapacity":150}}}}}},"responses":{"200":{"description":"Stay hub updated","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Stay hub updated successfully"},"data":{"type":"object","properties":{"stayhub":{"$ref":"#/components/schemas/Stayhub"}}}}}}}},"400":{"description":"Payload failed validation or the update would exceed capacity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Caller is not a superadmin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"No stay hub matched the supplied id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}},"delete":{"tags":["Stayhubs"],"summary":"Delete a stay hub","description":"Permanently removes a stay hub venue.\n\nRefused with 409 when anything still references the venue. The foreign\nkeys are not consistent about what a delete should mean — guests,\nbookings and payments are `NO ACTION` / `RESTRICT` while rents and\nfiles are `CASCADE` — so the dependants are counted first and the\nresponse names them. A venue that still holds pricing rows or uploaded\nphotos is therefore never deleted silently alongside them.\n","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"Stay hub ID"}],"responses":{"200":{"description":"Stay hub deleted","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Stay hub deleted successfully"},"data":{"type":"object"}}}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Caller is not a superadmin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"No stay hub matched the supplied id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"409":{"description":"The venue is still referenced by guests, bookings, payments, rent rows or uploaded files, so the delete was refused and nothing was removed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/rooms/layout":{"post":{"tags":["Rooms"],"summary":"Save a hostel's whole room layout","description":"Replaces the hostel's room and bed layout in a single call, keyed by\n`roomNumber`. Rooms present in the payload are created or updated, and\nrooms that used to exist for this hostel but are absent from the payload\nare removed together with their beds.\n\nThis is destructive by design: a floor-plan editor always submits the\ncomplete plan, and a diff would let a stale tab silently drop rooms the\nowner never removed.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["hostelId","rooms"],"properties":{"hostelId":{"type":"string","format":"uuid"},"rooms":{"type":"array","items":{"type":"object","required":["roomNumber"],"properties":{"roomNumber":{"type":"string"},"floor":{"type":"integer","minimum":1,"default":1},"sharingType":{"type":"string","nullable":true,"example":"4_person_room"},"beds":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string"},"price":{"type":"integer","minimum":0},"isCorner":{"type":"boolean"}}}}}}}}},"examples":{"layout":{"value":{"hostelId":"650e8400-e29b-41d4-a716-446655440000","rooms":[{"roomNumber":"A-101","floor":1,"sharingType":"3_person_room","beds":[{"label":"A-101-1","price":800000,"isCorner":true},{"label":"A-101-2","price":800000}]}]}}}}}},"responses":{"200":{"description":"Layout saved","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Layout saved successfully"},"data":{"type":"object","properties":{"rooms":{"type":"array","items":{"$ref":"#/components/schemas/Room"}}}}}}}}},"400":{"description":"`hostelId` missing or `rooms` is not an array","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Caller does not own this hostel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"No hostel matched the supplied id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}}},"/rooms":{"post":{"tags":["Rooms"],"summary":"Create a room","description":"Adds a single room to a hostel. The caller must own the hostel.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["hostelId","roomNumber"],"properties":{"hostelId":{"type":"string","format":"uuid"},"roomNumber":{"type":"string","example":"A-101"},"floor":{"type":"integer","minimum":1,"default":1,"description":"Defaults to the ground floor when omitted."},"sharingType":{"type":"string","nullable":true,"example":"4_person_room"}}}}}},"responses":{"201":{"description":"Room created","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Room created successfully"},"data":{"type":"object","properties":{"room":{"$ref":"#/components/schemas/Room"}}}}}}}},"400":{"description":"`hostelId` or `roomNumber` missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Caller does not own this hostel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"No hostel matched the supplied id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}}},"/rooms/hostel/{hostelId}":{"get":{"tags":["Rooms"],"summary":"List a hostel's rooms","description":"Returns every room in a hostel.","parameters":[{"in":"path","name":"hostelId","required":true,"schema":{"type":"string","format":"uuid"},"description":"Hostel ID"}],"responses":{"200":{"description":"Rooms","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Rooms fetched successfully"},"data":{"type":"object","properties":{"rooms":{"type":"array","items":{"$ref":"#/components/schemas/Room"}}}}}}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"404":{"description":"Hostel ID is missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}}},"/rooms/{id}":{"patch":{"tags":["Rooms"],"summary":"Update a room","description":"Updates a room's floor, number, or sharing type, and reconciles its beds:\na bed carrying an `id` is updated in place, a bed without an `id` is added\nas `available`, and an existing bed missing from the list is removed —\nexcept one that is `occupied` or `reserved`, which is always kept so a\nlive booking cannot be dropped by an edit. The caller must own the hostel\nthe room belongs to.\n","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"Room ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"floor":{"type":"integer","minimum":1},"roomNumber":{"type":"string"},"sharingType":{"type":"string","nullable":true},"beds":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Omit to add a new bed."},"label":{"type":"string"},"price":{"type":"integer","minimum":0},"isCorner":{"type":"boolean"}}}}}}}}},"responses":{"200":{"description":"Room updated","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Room updated successfully"},"data":{"type":"object","properties":{"room":{"$ref":"#/components/schemas/Room"}}}}}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Caller does not own this hostel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"No room matched the supplied id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}},"delete":{"tags":["Rooms"],"summary":"Delete a room","description":"Removes a room. The room's beds are removed with it by the foreign key's\n`ON DELETE CASCADE`. The caller must own the hostel.\n","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"Room ID"}],"responses":{"200":{"description":"Room deleted","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Room deleted successfully"},"data":{"type":"object"}}}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Caller does not own this hostel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"No room matched the supplied id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}}},"/roles":{"get":{"tags":["Roles"],"summary":"Get all available roles","description":"Retrieve all roles available in the system.\n\n**Use Cases:**\n- Populate role dropdown in signup form\n- Show role options during profile completion\n- Display available user types to new users\n- Frontend role selection components\n\n**Available Roles:**\n- `student`: Users looking for hostels\n- `owner`: Users managing/listing hostels\n\n**Authentication:**\n- Public endpoint (no authentication required)\n- Can be called before user login\n","responses":{"200":{"description":"Roles retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"message":{"type":"string","example":"Roles fetched successfully"},"data":{"type":"object","properties":{"roles":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Role unique identifier"},"name":{"type":"string","enum":["student","owner"],"description":"Role name"},"createdAt":{"type":"string","format":"date-time","description":"Role creation timestamp"},"updatedAt":{"type":"string","format":"date-time","description":"Role last update timestamp"}}}}}}}},"examples":{"ok":{"summary":"Successful response with roles","value":{"ok":true,"message":"Roles fetched successfully","data":{"roles":[{"id":"7362dd3f-9ba7-4eb0-8b4f-40320c79991d","name":"student","createdAt":"2024-01-01T00:00:00.000Z","updatedAt":"2024-01-01T00:00:00.000Z"},{"id":"8472ee4g-0cb8-5fc1-51431d80002e","name":"owner","createdAt":"2024-01-01T00:00:00.000Z","updatedAt":"2024-01-01T00:00:00.000Z"}]}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"serverError":{"summary":"Database error","value":{"ok":false,"message":"Failed to fetch roles","data":null}}}}}}}}},"/review":{"post":{"tags":["Reviews"],"summary":"Create a hostel review","description":"Submit a new review for a hostel including rating and optional text feedback.\nOnly authenticated users can create reviews.\n\n**Business Rules:**\n- User must be authenticated\n- Rating required (1-5 scale)\n- Text feedback optional but recommended\n- Image attachment optional\n\n**Use Cases:**\n- Student reviews hostel after visit\n- Share experience with other students\n- Provide feedback to hostel owners\n","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["hostelId","rating"],"properties":{"hostelId":{"type":"string","format":"uuid"},"rating":{"type":"integer","minimum":1,"maximum":5},"text":{"type":"string"},"image":{"type":"string"},"date":{"type":"string","format":"date-time"}}},"examples":{"withText":{"value":{"hostelId":"550e8400-e29b-41d4-a716-446655440000","rating":5,"text":"Excellent hostel with great amenities!","date":"2026-02-12T10:30:00.000Z"}}}}}},"responses":{"201":{"description":"Review created successfully"},"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}}}}},"/review/{id}":{"get":{"tags":["Reviews"],"summary":"Get review by ID","description":"Retrieve detailed information about a specific review.\n\n**Business Rules:**\n- Review ID must be valid UUID\n- Returns review with all details\n- Public endpoint - no authentication required\n\n**Use Cases:**\n- Display individual review details\n- Moderation and review management\n- Verify review authenticity\n","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"Review unique identifier","example":"550e8400-e29b-41d4-a716-446655440000"}],"responses":{"200":{"description":"Review retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"review":{"type":"object","properties":{"id":{"type":"string"},"userId":{"type":"string"},"hostelId":{"type":"string"},"rating":{"type":"integer"},"text":{"type":"string"},"image":{"type":"string"},"date":{"type":"string","format":"date-time"}}}}}}},"examples":{"ok":{"value":{"ok":true,"message":"Review fetched successfully","data":{"review":{"id":"550e8400-e29b-41d4-a716-446655440000","userId":"450e8400-e29b-41d4-a716-446655440000","hostelId":"650e8400-e29b-41d4-a716-446655440000","rating":5,"text":"Excellent hostel with great amenities!","date":"2026-02-12T10:30:00.000Z"}}}}}}}},"400":{"description":"Invalid review ID format","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"404":{"description":"Review not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Reviews"],"summary":"Update a review","description":"Modify an existing review's rating, text, or image.\nOnly the review owner can update their review.\n\n**Business Rules:**\n- User must be authenticated\n- User must own the review (authorization check)\n- Can update rating, text, and/or image\n- Partial updates allowed\n\n**Authorization:**\n- Requires valid JWT token\n- Returns 403 if user doesn't own the review\n\n**Use Cases:**\n- Correct mistakes in review\n- Update opinion after re-visiting\n- Add or change review image\n","security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"Review unique identifier","example":"550e8400-e29b-41d4-a716-446655440000"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"rating":{"type":"integer","minimum":1,"maximum":5},"text":{"type":"string"},"image":{"type":"string"}}},"examples":{"updateRating":{"summary":"Update rating and text","value":{"rating":4,"text":"Updated review after second visit"}},"updateImage":{"summary":"Add review image","value":{"image":"https://example.com/review-image.jpg"}}}}}},"responses":{"200":{"description":"Review updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object"}}},"examples":{"ok":{"value":{"ok":true,"message":"Review updated successfully","data":{}}}}}}},"400":{"description":"Invalid review ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Not authorized to update this review","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Review not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"500":{"description":"Failed to update review","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Reviews"],"summary":"Delete a review","description":"Permanently remove a review from the system.\nOnly the review owner can delete their review.\n\n**Business Rules:**\n- User must be authenticated\n- User must own the review (authorization check)\n- Deletion is permanent and cannot be undone\n- Associated data (ratings) may affect hostel statistics\n\n**Authorization:**\n- Requires valid JWT token\n- Returns 403 if user doesn't own the review\n\n**Use Cases:**\n- Remove outdated review\n- Delete review posted by mistake\n- User account cleanup\n\n**Side Effects:**\n- May affect hostel's average rating\n- Review count for hostel decreases\n","security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"Review unique identifier","example":"550e8400-e29b-41d4-a716-446655440000"}],"responses":{"200":{"description":"Review deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object"}}},"examples":{"ok":{"value":{"ok":true,"message":"Review deleted successfully","data":{}}}}}}},"400":{"description":"Invalid review ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Not authorized to delete this review","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Review not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/review/hostel/{id}":{"get":{"tags":["Reviews"],"summary":"Get all reviews for a hostel","description":"Retrieve paginated list of all reviews submitted for a specific hostel.\n\n**Business Rules:**\n- Returns reviews with pagination metadata\n- Default page size: 10 reviews\n- Ordered by creation date (newest first)\n- Public endpoint - no authentication required\n\n**Use Cases:**\n- Display hostel reviews on detail page\n- Calculate average hostel rating\n- Show recent guest feedback\n\n**Performance:**\n- Uses pagination to handle large datasets\n- Efficient database query with limit/offset\n","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"Hostel unique identifier","example":"650e8400-e29b-41d4-a716-446655440000"},{"in":"query","name":"page","schema":{"type":"integer","default":1},"description":"Page number for pagination","example":1},{"in":"query","name":"limit","schema":{"type":"integer","default":10},"description":"Number of reviews per page","example":10}],"responses":{"200":{"description":"Reviews retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"reviews":{"type":"array","items":{"type":"object"}},"pagination":{"type":"object","properties":{"total":{"type":"integer"},"page":{"type":"integer"},"limit":{"type":"integer"},"totalPages":{"type":"integer"}}}}}}},"examples":{"ok":{"value":{"ok":true,"message":"Reviews fetched successfully","data":{"reviews":[{"id":"550e8400-e29b-41d4-a716-446655440000","rating":5,"text":"Great place to stay!","date":"2026-02-12T10:30:00.000Z"}],"pagination":{"total":25,"page":1,"limit":10,"totalPages":3}}}}}}}},"400":{"description":"Invalid hostel ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/review/user":{"get":{"tags":["Reviews"],"summary":"Get all reviews by current user","description":"Retrieve paginated list of all reviews submitted by the authenticated user.\n\n**Business Rules:**\n- User must be authenticated\n- Returns only reviews created by the requesting user\n- Includes pagination metadata\n- Default page size: 10 reviews\n\n**Use Cases:**\n- User's review history/dashboard\n- Manage personal reviews\n- Track submitted feedback\n\n**Authorization:**\n- Requires valid JWT token\n- Users can only see their own reviews\n","security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","default":1},"description":"Page number for pagination","example":1},{"in":"query","name":"limit","schema":{"type":"integer","default":10},"description":"Number of reviews per page","example":10}],"responses":{"200":{"description":"User reviews retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"reviews":{"type":"array","items":{"type":"object"}},"pagination":{"type":"object"}}}}},"examples":{"ok":{"value":{"ok":true,"message":"Reviews fetched successfully","data":{"reviews":[{"id":"550e8400-e29b-41d4-a716-446655440000","hostelId":"650e8400-e29b-41d4-a716-446655440000","rating":4,"text":"Good experience overall"}],"pagination":{"total":5,"page":1,"limit":10,"totalPages":1}}}}}}}},"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/rent":{"post":{"tags":["Rents"],"summary":"Add rent pricing for hostel","description":"Add rent pricing information for a hostel including sharing type and rent amount.\n\n**Business Rules:**\n- Hostel ID, sharing type, and rent required\n- Multiple rent entries can exist for different sharing types\n\n**Use Cases:**\n- Owner sets rent for single/double/triple sharing\n- Define pricing structure for hostel\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["hostelId","sharingType","rent"],"properties":{"hostelId":{"type":"string","format":"uuid"},"sharingType":{"type":"string"},"rent":{"type":"number"}}},"examples":{"singleSharing":{"value":{"hostelId":"650e8400-e29b-41d4-a716-446655440000","sharingType":"Single","rent":10000}}}}}},"responses":{"201":{"description":"Rent added successfully"},"400":{"description":"Missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"500":{"description":"Failed to create rent","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/rent/{id}":{"get":{"tags":["Rents"],"summary":"Get hostel rent pricing","description":"Retrieve rent pricing information for a specific hostel.","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"Hostel ID","example":"650e8400-e29b-41d4-a716-446655440000"}],"responses":{"200":{"description":"Rent retrieved successfully","content":{"application/json":{"examples":{"ok":{"value":{"ok":true,"message":"Rent retrieved successfully","data":{"rent":{"id":"1250e8400-e29b-41d4-a716-446655440000","hostelId":"650e8400-e29b-41d4-a716-446655440000","sharingType":"Single","rent":10000}}}}}}}},"400":{"description":"Invalid hostel ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"404":{"description":"Rent not found for this hostel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}},"put":{"tags":["Rents"],"summary":"Update hostel rent pricing","description":"Update rent pricing information including sharing type and rent amount.","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"Hostel ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["sharingType","rent"],"properties":{"sharingType":{"type":"string"},"rent":{"type":"number"}}},"examples":{"update":{"value":{"sharingType":"Double","rent":7000}}}}}},"responses":{"200":{"description":"Rent updated successfully"},"400":{"description":"Missing required fields or invalid ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"404":{"description":"Rent not found for this hostel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}},"delete":{"tags":["Rents"],"summary":"Delete hostel rent pricing","description":"Permanently remove rent pricing information for a hostel.","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"Hostel ID"}],"responses":{"200":{"description":"Rent deleted successfully"},"400":{"description":"Hostel ID is required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"404":{"description":"Rent not found for this hostel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}}},"/payments/verify":{"post":{"tags":["Payments"],"summary":"Verify a Razorpay checkout signature","responses":{"200":{"description":"Payment capture and confirmed booking recorded idempotently."},"400":{"description":"Signature is invalid."}}}},"/payments":{"get":{"tags":["Payments"],"summary":"List the authenticated user's safe payment summaries","responses":{"200":{"description":"Payments returned without stored signatures."}}}},"/payments/{id}/refund":{"post":{"tags":["Payments"],"summary":"Issue a direct payment refund as a superadmin","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Durable refund request returned."},"403":{"description":"Caller is not a superadmin."}}}},"/owner/own
[...]
